# Бинарные файлы
*.exe
*.exe~
*.dll
*.so
*.dylib
*.bin

# Бинарник линтера
loglinter
loglinter.exe

# Временные файлы
*.tmp
*.bak
*.swp
*~

# Файлы IDE
.vscode/
.idea/
*.iml

# Тестовые артефакты
coverage.out
coverage.html
*.test
*.prof

# Системные файлы
.DS_Store
Thumbs.db
