# Бинарные файлы
*.exe
*.exe~
*.dll
*.so
*.dylib
*.bin

# Бинарники линтера (в корне проекта)
/loglinter
/loglinter.exe
/loglinter.loglinter

# Игнорировать всё кроме .gitignore
/*
!.gitignore
!go.mod
!go.sum
!README.md
!Makefile
!.loglinter.yaml
!test_example.go
!GOLANGCI-INTEGRATION.md
!cmd/
!pkg/
!internal/
!.github/
